body,html{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
    font-family: 'Balsamiq Sans', cursive;
    background: #ffeaab;
}
.row{
    width: 100%;
    margin: 0;
}
.navbar{
    height: 83px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    background: #626f78;
}
.containerContent{
    height: calc( 100% - 108px);
    box-sizing: border-box;
}
.checkers{
    margin: 0 auto;
    font-size: 32pt;
    text-align: center;
}
input[type=checkbox] {
    vertical-align: middle;
    float: right;
}
.imageClass{
    height: 3.5rem;
    padding-top: 5px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: rgba(0, 0, 0, 0.65);
}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
#choice{
    color: rgba(0, 0, 0, 0.349);
}
.container1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.main-header{
    font-size: 3.5rem;
}
.label{
    text-align: center;
    font-size: 1.7rem;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #626f78;
}
.choice:hover{
    background-color: #626f78;
    color: #ffeaab;
    cursor: pointer;
    transition: all 0.15s;
}
.navitem{
    cursor: pointer;
}
.selected{
    background-color: #626f78;
    color: #ffeaab;
}
.submit:hover{
    color: #f2f2f2;
}
.mx-5{
    margin-right: 10px;
    margin-left: 10px;
}